
/* Reset */

    .outer-box {
        display: grid;
        position: relative;
        align-items: center;
        /* justify-content: center; */
        justify-items: center;
    }

    
    .container {
      max-width: 500px;
      width: 100%;
      padding: 20px;
      border-radius: 4px;
      box-shadow: 0 8px 16px rgb(31 106 191 / 58%);;
    }

   
    form {
      position: relative;
      margin-bottom: 15px;

    }

    
    input[type="search"] {
      width: 100%;
      padding: 10px 15px;
      font-size: 18px;
      border: 2px solid #ccc;
      border-radius: 4px;
      transition: all 0.3s ease-in-out;
    }
   

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }

   
    .suggestion-item {
      background-color: #fff;
      cursor: pointer;
      padding: 10px;
      border: 1px solid #ccc;
      border-top: none;
      transition: all 0.3s ease-in-out;
    }

    
    .suggestion-item:first-child {
      border-top: 1px solid #ccc;
    }

    
    .suggestions-container {
      display: none;
      position: absolute;
      top: 100%;
      left: 0;
      border: 1px solid #ccc;
      border-top: none;
      border-radius: 0 0 4px 4px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      overflow: hidden;
      z-index: 1;
    }

    
    .show-details {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      margin-top: 20px;
    }

  
    .show-details img {
      width: 100%;
      max-width: 300px;
      height: auto;
      margin-bottom: 10px;
    }

    
    .show-details h3 {
      margin: 0;
      margin-bottom: 10px;
      /* font-size: 24px; */
    }

    
    .show-details p {
      margin: 0;
      font-size: 16px;
      line-height: 1.5;
      text-align: justify;
    }

    .title{
         width: 31%;
    margin-left: 41%;
    color: #6c6c64;
    display: inline-flex;
    font-family: math;
     }
    .recommendation-image{
        width: 33%;
        /* height: 5%; */
        margin-left: 31%;
    }
   .img-details{
      width: 25%;
      height: 25%;

    }
   .title-details{
    
 
    } 
   .recommendations-container{

          display: flex;
         gap: 10px;
         position: fixed;
         font-family: sans-serif;
         font-size: 1px;
         align-items: flex-start;
         margin-top: -45px;
   }